{% extends 'base.html' %}
{%  load static %}


<!--################-->

{% block title %}
    User Dashboard
{% endblock %}


<!--################-->

{% block name %} {{ user.name }}{% endblock %}


<!--################-->

{% block img %}


{% if user.picture %}
        <img src="{{ user.picture }}" height="50px" width="50px">
{% else %}
        <img src="{% static 'Assets/user.png' %}" height="50px" width="50px">
{% endif %}


{% endblock %}




{% block body %}
<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}

  <div class="container-fluid text-center p-3">

        <div class="row p-3 justify-content-center">

            <div class="col-lg-12 col-md-12 text-left">
                 <label class="py-2">Old Password</label>
                <br>
                <input type="password"  class="form-control" required name="oldpassword" placeholder="Old Password">
            </div>

            <br><br>

            <div class="col-lg-12 py-2 col-md-12 text-left">
                <label>New Password</label><br>
                <input type="password"  class="form-control" required name="password" placeholder="New Password">

            </div>
            <div class="col-lg-12 py-2 col-md-12 text-center">

                {% if msg %}
                 <br>
                <div class="text-center ">
                    {% if yes %}
                        <h5 class="text-success">{{ msg }}</h5>
                    {% else %}
                            <h5 class="text-danger">{{ msg }}</h5>
                    {% endif %}

                </div>

                {% endif %}
                <br>
               <input type="submit" value="Change password" class="btn btn-outline-success">
            </div>


    </div>
  </div>

</form>


{% endblock %}