{% extends 'base.html' %}
{%  load static %}


<!--################-->

{% block title %}
    User Dashboard
{% endblock %}


<!--################-->

{% block name %} {{ user.name }}{% endblock %}


<!--################-->

{% block img %}


{% if user.picture %}
        <img src="{{ user.picture }}" height="50px" width="50px">
{% else %}
        <img src="{% static 'Assets/user.png' %}" height="50px" width="50px">
{% endif %}


{% endblock %}




{% block body %}

 <div class="container-fluid p-2 table-responsive" style="max-height:300px;" >


    <table class="table table-fluid table-hover   table-striped" id="myTable">

    <thead>

    <tr class="text-center">
         {% if completed_levels %}
		<th class="border">Category</th>
		<th class="border">Level</th>

        {% else %}

        {% endif %}


	</tr>
    </thead>
    <tbody>
    {% for c in completed_levels %}

			<tr>
                <td>{{ c.cat }}</td>
                <td>{{ c.level }}</td>

            </tr>
    {% empty %}
    <tr class="text-center">
            <td><p>No completed levels yet!</p></td>
    </tr>

    {% endfor %}

    </tbody>
    </table>
</div>




{% endblock %}