<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>SignIn</title>

	<meta name="google-signin-client_id"
		  content="205330735038-lsl66n4eerc5qo3r6s20q9jvdpdr6qf0.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>



	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %} "/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->

<!-- Bootstrap 5 links -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
		  rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
		  crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>
<body class="font">

<br>
<br>
	<div class="limiter container ">

		<div class="container-login100 row justify-content-center">
		<div class="col-lg-5 col-md-6 bg-white rounded	">
			<div class="wrap-login  100 p-l-55 p-r-55  p-b-54">
				<br>
				<form class="login100-form validate-form" action="{% url 'try_signin' %}" method="post">
					{% csrf_token %}
					<div class="col text-center h1">
						<span class="login100-form-title font p-b-49 h3">
						Login
					</span>

					</div>

<br>
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
						<label class="label-input100">Email</label>
						<input class="input100 form-control" type="text" name="email" placeholder="Type your Email">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100 form-control" type="password" name="password" placeholder="Type your password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

<!--					<div class="text-right p-t-8 p-b-31">-->
<!--&lt;!&ndash;						<a href="#" class="text-dark font">&ndash;&gt;-->
<!--&lt;!&ndash;							<strong>Forgot password?</strong>&ndash;&gt;-->
<!--&lt;!&ndash;						</a>&ndash;&gt;-->
<!--					</div>-->

					{% if msg %}
					<br>
						<div class="text-center text-primary bg-light py-2 border">
							<p>{{msg}}</p>
						</div>
					{% endif %}
					<br>

							<div class="col text-center">
							<button class="btn btn-outline-primary">
								Login
							</button>
						</div>


					<div class="text-end p-t-54 p-b-20">
						<p>
							<a  class="text-dark" href="{% url 'signup'%}">
								<strong>SignUp</strong>
							</a>
						<hr>

						</p>
					</div>

					<div class="col">
						<div class="row justify-content-center">
							<div class="g-signin2"></div>
						</div>

					</div>


				</form>

			</div>
		</div>
		</div>
	</div>
<br>





<style>
.font{
font-family: "Times New Roman", Times, serif;

}
</style>





<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{%  static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>